{% extends 'book-list.html' %}
{% block book_table %}
        <h1 class="mb-4">Books</h1> 
        <div class="container" id='formContainer'>
            <form action="{%url 'book-list'%}" id = 'form' method="POST">
                {% csrf_token %}
                    <input type="hidden" name="id" id="id">
                    {{ form.as_p }}
                    <div class="form-group">
                        <input type="submit" value="Submit" class="btn btn-primary submit-btn">
                        <td><button onclick="reset()" class="btn btn-secondary">Reset</button></td> 
                    </div> 
            </form>
        </div>
<table class="table table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Year</th>
            <th>Available</th>
            <th>Category</th>
            <th>Author</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for book in books %}
        <tr id="book-row-{{ book.id }}" >
            <td>{{ book.id }}</td>
            <td>{{ book.nameBook }}</td>
            <td>{{ book.yearBook }}</td>
            <td>{{ book.availableBook }}</td>
            <td>{{ book.category }}</td>
            <td>{{ book.author }}</td>
            <td><button onclick="editBook('{{ book.id }}')" class="btn btn-secondary">Edit</button></td> 
            <td><button onclick="deleteBook('{{ book.id }}')" class="btn btn-danger">Delete</button></td>            
        </tr>
        {% endfor %}
    </tbody>
</table>
<a type="button" href="rents-list" class="mb-4 btn btn-outline-secondary">View Rents</a>
<script>
    form_container = document.getElementById("formContainer");

    function reset() {
        document.getElementById("id").value = '';
        document.getElementById("id_nameBook").value = '';
        document.getElementById("id_yearBook").value = '';
        document.getElementById("id_availableBook").value = '';
        document.getElementById("id_category").value = '';
        document.getElementById("id_author").value = ''; 
    }
    
    function populateForm(data) {
        document.getElementById("id").value = data.id;
        document.getElementById("id_nameBook").value = data.nameBook;
        document.getElementById("id_yearBook").value = data.yearBook;
        document.getElementById("id_availableBook").value = data.availableBook;
        document.getElementById("id_category").value = data.category;
        document.getElementById("id_author").value = data.author;
    }

    async function editBook(id) {

        const response = await fetch(`/book/${id}`, {
            method: "GET",
            headers: { "Accept": "application/json" }
            });
            if (response.ok === true) {
            const book = await response.json();
            console.log(book);
            populateForm(book);
            }
            else {
            const error = await response.json();
            console.log(error.message);
            }
            
    }
    async function deleteBook(id) {
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    
        const response = await fetch(`/book/${id}`, {
            method: "DELETE",
            headers: {
                "Accept": "application/json",
                "X-CSRFToken": csrftoken
            }
        });
    
        if (response.ok) {
            const row = document.getElementById(`book-row-${id}`);
            if (row) {
                row.remove();
            }
        } else {
            console.error("Error deleting book");
        }
    }
    // скидання даних форми
    function reset() {
        document.getElementById("id").value = "";
        document.getElementById("id_nameBook").value = "";
        document.getElementById("id_yearBook").value = "";
        document.getElementById("id_availableBook").value = "";
        document.getElementById("id_category").value = "";
        document.getElementById("id_author").value = "";
    }
</script>
{% endblock %}