{% extends 'book-list.html' %}
{% block book_table %}
<table class="table table-bordered">
    <thead class="thead-dark">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Year</th>
          <th>Available</th>
          <th>Category</th>
          <th>Author</th>
          <th>Rent</th>
        </tr>
      </thead>
      <tbody>
          {% for book in books %}
          <tr>
            <td>{{ book.id }}</td>
            <td>{{ book.nameBook }}</td>
            <td>{{ book.yearBook }}</td>
            <td>{{ book.availableBook }}</td>
            <td>{{ book.category }}</td>
            <td>{{ book.author }}</td>
            <td>
              <form method="post" action="/book/{{ book.id }}/rent">
                {% csrf_token %}
                <input type="hidden" name="book_id" value="{{ book.id }}">
                {% if book.id in rents_book_id %}
                  <button type="submit" class="btn btn-success">Return</button>
                {% elif book.availableBook > 0 %}
                  <button type="submit" class="btn btn-secondary">Rent</button>
                {% else %}
                  <button type="button" class="btn btn-dark" disabled>Out of Stock</button>
                {% endif %}
              </form>
            </td>
          </tr>
        {% endfor %}
      </tbody>
</table>
<div>
    {% if books.paginator.num_pages > 1 %}
        <div class="pagination">
            {% if books.has_previous %}
                <a href="?page={{ books.previous_page_number }}&perpage={{ books.paginator.per_page }}"> Previous</a>
            {% endif %}

            <span>Page {{ books.number }} of {{ books.paginator.num_pages }}</span>

            {% if books.has_next %}
                <a href="?page={{ books.next_page_number }}&perpage={{ books.paginator.per_page }}">Next </a>
            {% endif %}
        </div>
    {% endif %}
</div>
{% endblock %}